__pycache__
*.pyc
*.pyo
.git
.gitignore
*.md
RapidOCR/.git
RapidOCR/.github
RapidOCR/android
RapidOCR/api
RapidOCR/assets
RapidOCR/cpp
RapidOCR/docs
RapidOCR/dotnet
RapidOCR/ios
RapidOCR/jvm
RapidOCR/ocrweb
RapidOCR/python/tests
RapidOCR/docker
